.project-section {
  @apply py-10 mx-auto space-y-6 max-w-4xl px-6 prose;
}

.project-section a {
  color: rgba(var(--primary-rgb));
  text-decoration: none;
}

.project-section a:hover {
  color: rgba(var(--primary-rgb), 0.8);
  text-decoration: underline;
}

.project-footer {
  @apply flex flex-col text-sm mt-8 space-y-8 mb-4;
}
