.input-cursor {
  display: inline-block;
  width: 0.1rem;
  height: 1.4rem; /* Match the height of the text */
  background-color: rgb(var(--foreground-rgb));
  animation: blink 0.6s linear infinite alternate;
}

/* For medium screens and above */
@media (min-width: 768px) {
  .input-cursor {
    height: 1.7rem; /* Adjust height for medium screens */
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
