@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 248, 237;
  --primary-rgb: 255, 69, 0;
  --text-orange-600: rgb(234, 88, 12);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply text-xl font-normal;
}

h1 {
  @apply text-2xl font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  @apply text-lg;
}

.nav-link:hover {
  color: rgba(var(--primary-rgb), 0.8); /* Use variable for hover state */
}

/* Basic link styling */
a {
  @apply hover:underline;
  color: rgba(var(--primary-rgb));
}
