.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  font-weight: bold;
}

.text-cursor-container {
  display: flex;
  align-items: baseline; /* Align text and cursor baseline */
}

#feature-text {
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
}

.input-cursor {
  display: inline-block;
  width: 0.1rem;
  height: 3rem; /* Match the height of the text */
  background-color: rgb(var(--foreground-rgb));
  animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
